# ==========================================================
# .NET / C# RULES
# ==========================================================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

# Files built by Visual Studio
*.ilk
*.pdb
*.exp
*.lib
*.exe
*.dll
*.tmp
*.log

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# ==========================================================
# RUST RULES
# ==========================================================
/target
Cargo.lock

# ==========================================================
# OS / MISC RULES
# ==========================================================
.DS_Store
Thumbs.db
*.swp
.env

# ==========================================================
# FOLDER AND FILE RULES
# ==========================================================

# Ignore these folders and their contents
**/[Bb]in/
**/[Oo]bj/
**/[Tt]arget/
**/.vs/
**/.vscode/

# Cache-files
**/project.nuget.cache
**/project.assets.json

# Ignore these specific files
dybde5.sln
user.json
